<div class="grid-container">
  <h1 class="mat-h1">Document</h1>
  <mat-grid-list cols="2" rowHeight="400px">
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-card class="document-card">
        <mat-card-header>
          <mat-card-title>
            Upload Record
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="document-card-content">

          <!-- Upload Record Table -->

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
