<div class="container">
  <div fxLayout="column">
    <h1 class="mat-h1">实体资产</h1>

    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex fxLayoutGap.gt-sm="8px">
      <div fxFlex.gt-sm="67" fxFlex>
        <mat-card class="asset-card">
          <mat-card-header>
            <mat-card-title>
              上传
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="asset-card-content">
            <form [formGroup]="assetUploadForm" novalidate (ngSubmit)="onSubmit()">
              <div fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="0px">

                <!-- Resource Type -->
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
                  <div class="misc-margin">
                    <mat-icon fxFlex="auto">lock</mat-icon>
                  </div>
                  <mat-form-field appearance="outline" fxFlex="auto">
                    <mat-label>资源类型</mat-label>
                    <mat-select required formControlName="resourceType"
                      (selectionChange)="resourceTypeChange($event.value)">
                      <mat-option *ngFor="let resourceType of resourceTypes" [value]="resourceType">
                        {{resourceType}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="assetUploadForm.controls['resourceType'].hasError('required')">
                      资源类型为<strong>必填项</strong>
                    </mat-error>
                  </mat-form-field>
                </div>

                <!-- Name -->
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
                  <div class="misc-margin">
                    <mat-icon fxFlex="auto">title</mat-icon>
                  </div>
                  <mat-form-field appearance="outline" fxFlex="auto">
                    <mat-label>名称</mat-label>
                    <input matInput required formControlName="name">
                    <mat-error *ngIf="assetUploadForm.controls['name'].hasError('required')">
                      名称为<strong>必填项</strong>
                    </mat-error>
                  </mat-form-field>
                  <div *ngIf="assetUploadForm.get('resourceType')?.value !== this.resourceTypes[0]" class="misc-margin">
                    <mat-checkbox fxFlex="auto" formControlName="isNamePublic">可公开</mat-checkbox>
                  </div>
                </div>

                <!-- Design Document ID -->
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
                  <div class="misc-margin">
                    <mat-icon fxFlex="auto">pin</mat-icon>
                  </div>
                  <mat-form-field appearance="outline" fxFlex="auto">
                    <mat-label>设计文档 ID</mat-label>
                    <input matInput required formControlName="designDocumentId">
                    <mat-error *ngIf="assetUploadForm.controls['designDocumentId'].hasError('required')">
                      设计文档 ID 为<strong>必填项</strong>
                    </mat-error>
                  </mat-form-field>
                  <div *ngIf="assetUploadForm.get('resourceType')?.value !== this.resourceTypes[0]" class="misc-margin">
                    <mat-checkbox fxFlex="auto" formControlName="isDesignDocumentIdPublic">可公开</mat-checkbox>
                  </div>
                </div>

                <!-- Component IDs -->
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
                  <div class="misc-margin">
                    <mat-icon fxFlex="auto">pin</mat-icon>
                  </div>
                  <mat-form-field appearance="outline" fxFlex="auto">
                    <mat-label>组件 ID</mat-label>
                    <mat-chip-list required formControlName="componentIds" #chipList>
                      <mat-chip *ngFor="let componentId of componentIds" [selectable]="true" [removable]="true"
                        (removed)="removeComponentId(componentId)">
                        {{componentId}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                      </mat-chip>
                      <input matInput placeholder="新组件 ID…" [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
                        (matChipInputTokenEnd)="addComponentId($event)" (paste)="pasteComponentId($event)">
                    </mat-chip-list>
                    <mat-error *ngIf="assetUploadForm.controls['componentIds'].hasError('required')">
                      组件 ID 为<strong>必填项</strong>
                    </mat-error>
                  </mat-form-field>
                </div>

                <!-- Policy -->
                <div *ngIf="assetUploadForm.get('resourceType')?.value !== this.resourceTypes[0]" fxLayout="row"
                  fxLayoutAlign="space-between center" fxLayoutGap="8px">
                  <div class="misc-margin">
                    <mat-icon fxFlex="auto">policy</mat-icon>
                  </div>
                  <mat-form-field appearance="outline" fxFlex="auto">
                    <mat-label>策略</mat-label>
                    <input matInput required formControlName="policy">
                    <mat-error *ngIf="assetUploadForm.controls['policy'].hasError('required')">
                      策略为<strong>必填项</strong>
                    </mat-error>
                  </mat-form-field>
                  <div class="misc-margin">
                    <mat-icon matTooltip='可用关键词：&#13;
                      DeptType, DeptLevel, DeptName, SuperDeptName&#13;
                      例子：&#13;
                      (DeptType == "Dev" && DeptLevel == 2)' matTooltipClass="help-tooltip" fxFlex="auto">help
                    </mat-icon>
                  </div>
                </div>

                <div style="height: 10px;"></div>

                <!-- Reset & Upload -->
                <div class="asset-card-margin" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="8px">
                  <button mat-button color="warn" type="button" (click)="assetUploadResetButtonClick()">重置</button>
                  <button mat-raised-button color="primary" type="submit">上传</button>
                </div>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex.gt-sm="33" fxFlex>
        <mat-card class="asset-card">
          <mat-card-header>
            <mat-card-title>
              说明
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="asset-card-content">

            <mat-label class="instruction">{{instruction}}</mat-label>

          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
