.container {
  margin: 20px;
}

.asset-card {
  margin-bottom: 15px;
}

.asset-card-content {
  margin: 20px;
}

.asset-card-margin {
  margin-bottom: 15px;
}

.misc-margin {
  margin-bottom: 20px;
}

::ng-deep .success-snackbar {
  white-space: pre-wrap;
}
