<div class="container">
  <div fxLayout="column">
    <h1 class="mat-h1">Auth</h1>

    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex fxLayoutGap.gt-sm="8px">
      <div fxFlex.gt-sm="67" fxFlex>
        <mat-card class="auth-card">
          <mat-card-header>
            <mat-card-title>
              Request
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="auth-card-content">
            <form [formGroup]="authRequestForm" novalidate (ngSubmit)="onSubmit()">
              <div fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="0px">

                <!-- Resource ID -->
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
                  <div class="misc-margin">
                    <mat-icon fxFlex="auto">pin</mat-icon>
                  </div>
                  <mat-form-field appearance="outline" fxFlex="auto">
                    <mat-label>Resource ID</mat-label>
                    <input matInput required formControlName="resourceId">
                    <mat-error *ngIf="authRequestForm.controls['resourceId'].hasError('required')">
                      Resource ID is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>

                <!-- Reason -->
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
                  <div class="misc-margin">
                    <mat-icon fxFlex="auto">notes</mat-icon>
                  </div>
                  <mat-form-field appearance="outline" fxFlex="auto">
                    <mat-label>Reason</mat-label>
                    <textarea matInput cdkTextareaAutosize placeholder="Optional" formControlName="reason"></textarea>
                  </mat-form-field>
                </div>

                <div style="height: 10px;"></div>

                <!-- Reset & Request -->
                <div class="auth-card-margin" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="8px">
                  <button mat-button color="warn" type="button" (click)="authRequestForm.reset()">Reset</button>
                  <button mat-raised-button color="primary" type="submit">Request</button>
                </div>

              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex.gt-sm="33" fxFlex>
        <mat-card class="auth-card">
          <mat-card-header>
            <mat-card-title>
              Instruction
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="auth-card-content">

            <mat-label class="instruction">{{instruction}}</mat-label>

          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
