.container {
  margin: 20px;
}

.auth-card {
  margin-bottom: 15px;
}

.auth-card-content {
  margin: 20px;
}

.auth-card-margin {
  margin-bottom: 15px;
}

.misc-margin {
  margin-bottom: 20px;
}

::ng-deep .instruction {
  white-space: pre-line;
}
