.container {
  margin: 20px;
}

.asset-card {
  margin-bottom: 15px;
}

.asset-card-content {
  margin: 20px;
}

.asset-card-margin {
  margin-bottom: 15px;
}

.misc-margin {
  margin-bottom: 20px;
}

.mat-radio-group {
  display: flex;
  justify-content: space-around;
}
