<form [formGroup]="authDialogForm" novalidate (ngSubmit)="onSubmit()">
  <h1 mat-dialog-title>{{data.title}}</h1>
  <div class="container">
    <div style="height: 10px;"></div>

    <div mat-dialog-content>
      <mat-form-field appearance="outline" fxFlex="auto">
        <mat-label>授权会话 ID</mat-label>
        <input matInput placeholder="选填" formControlName="authSessionID">
      </mat-form-field>
    </div>

    <div mat-dialog-actions align="end">
      <button mat-button mat-dialog-close type="button" routerLink="/auth/request">申请</button>
      <div fxFlex></div>
      <button mat-button mat-dialog-close type="button">取消</button>
      <button mat-button cdkFocusInitial type="submit">提交</button>
    </div>
  </div>
</form>
