<form [formGroup]="authDialogForm" novalidate (ngSubmit)="onSubmit()">
  <h1 mat-dialog-title>{{data.title}}</h1>
  <div class="container">
    <div style="height: 10px;"></div>

    <div mat-dialog-content>
      <mat-form-field appearance="outline" fxFlex="auto">
        <mat-label>Auth Session ID</mat-label>
        <input matInput placeholder="Optional" formControlName="authSessionId">
      </mat-form-field>
    </div>

    <div mat-dialog-actions align="end">
      <button mat-button mat-dialog-close type="button" routerLink="/auth/request">Request</button>
      <div fxFlex></div>
      <button mat-button mat-dialog-close type="button">Cancel</button>
      <button [disabled]="showProgressSpinner" mat-button cdkFocusInitial type="submit">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          Submit
          <div *ngIf="showProgressSpinner" style="width: 8px;"></div>
          <mat-spinner *ngIf="showProgressSpinner" [diameter]="20"></mat-spinner>
        </div>
      </button>
    </div>
  </div>
</form>
