<div class="mat-elevation-z container">
  <table mat-table class="full-width-table" matSort aria-label="Elements">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>序号</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- ResourceId Column -->
    <ng-container matColumnDef="resourceId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>资源 ID</th>
      <td mat-cell *matCellDef="let row">{{row.resourceId}}</td>
    </ng-container>

    <!-- ResourceType Column -->
    <ng-container matColumnDef="resourceType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>资源类型</th>
      <td mat-cell *matCellDef="let row">{{row.resourceType}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>名称</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <!-- AuthSessionId Column -->
    <ng-container matColumnDef="authSessionId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>授权会话 ID</th>
      <td mat-cell *matCellDef="let row">{{row.authSessionId}}</td>
    </ng-container>

    <!-- Operation Column -->
    <ng-container matColumnDef="operation">
      <th mat-header-cell *matHeaderCellDef>操作</th>
      <td mat-cell *matCellDef="let row">
        <div [ngSwitch]="row.status">
          <div *ngSwitchCase="authSessionStatuses[1]">
            已允许
          </div>
          <div *ngSwitchCase="authSessionStatuses[2]">
            已拒绝
          </div>
          <div *ngSwitchCase="authSessionStatuses[0]" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
            <button color="primary" mat-stroked-button type="button"
              (click)="allowAuthSession(row.authSessionId)">{{authSessionStatuses[1]}}</button>
            <mat-divider vertical></mat-divider>
            <button color="warn" mat-stroked-button type="button"
              (click)="denyAuthSession(row.authSessionId)">{{authSessionStatuses[2]}}</button>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div *ngIf="!dataSource.data.length" style="height: 20px;"></div>
  <div *ngIf="!dataSource.data.length" style="text-align: center;">无数据</div>

  <mat-paginator #paginator [length]="infinity" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"
    (page)="onPaginationChange($event)">
  </mat-paginator>
</div>
