.container {
  overflow-x: auto;
}

.full-width-table {
  width: 100%;
}

::ng-deep .mat-paginator-range-label {
  display: none !important;
}

.mat-divider.mat-divider-vertical {
  height: 30px;
}

::ng-deep .result-snackbar {
  white-space: pre-line;
}
