<form [formGroup]="hashCheckDialogForm" novalidate>
  <h1 mat-dialog-title>{{data.title}}</h1>
  <div class="container">
    <div style="height: 20px;"></div>

    <div mat-dialog-content>
      <mat-form-field appearance="outline" fxFlex="auto">
        <mat-label>散列</mat-label>
        <input matInput placeholder="散列" formControlName="hash">
        <mat-icon matSuffix *ngIf="checkHash()">check_circle</mat-icon>
        <mat-error *ngIf="hashCheckDialogForm.controls['hash'].hasError('pattern')">
          散列<strong>不匹配</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div mat-dialog-actions align="end">
      <button mat-button [mat-dialog-close]="true" cdkFocusInitial>关闭</button>
    </div>
  </div>
</form>
