<div class="container">
  <div fxLayout="column">
    <h1 class="mat-h1">Dashboard</h1>

    <!-- Card 1 -->
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>
          Card 1
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <mat-label>Card 1</mat-label>
        <div style="height: 200px;"></div>
      </mat-card-content>
    </mat-card>

    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex fxLayoutGap.gt-sm="8px">
      <div fxLayout="column" fxFlex.gt-sm="50" fxFlex>

        <!-- Card 2 -->
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Card 2
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <mat-label>Card 2</mat-label>
            <div style="height: 200px;"></div>
          </mat-card-content>
        </mat-card>

        <!-- Card 3 -->
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Card 3
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <mat-label>Card 3</mat-label>
            <div style="height: 200px;"></div>
          </mat-card-content>
        </mat-card>

      </div>

      <div fxFlex.gt-sm="50" fxFlex>

        <!-- Card 4 -->
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Card 4
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <mat-label>Card 4</mat-label>
            <div style="height: 519px;"></div>
          </mat-card-content>
        </mat-card>

      </div>
    </div>
  </div>
</div>
