<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">Dashboard</a>
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Document
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-list-item routerLink="/document/upload">Upload</a>
          <a mat-list-item routerLink="/document/query">Query</a>
          <a mat-list-item routerLink="/document/upload-record">Upload Record</a>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Asset
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-list-item routerLink="/asset/upload">Upload</a>
          <a mat-list-item routerLink="/asset/query">Query</a>
          <a mat-list-item routerLink="/asset/upload-record">Upload Record</a>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Auth
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-list-item routerLink="/auth/request">Request</a>
          <a mat-list-item routerLink="/auth/record">Record</a>
          <a mat-list-item routerLink="/auth/approve">Approve</a>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="column">
    <mat-toolbar color="primary" style="min-height: 64px !important; height: 64px !important;">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon" matTooltip="Menu">menu</mat-icon>
      </button>
      <span class="fill-space">Blockade</span>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
        <mat-icon matTooltip="Dark theme">dark_mode</mat-icon>
        <mat-slide-toggle [formControl]="themeToggleControl"></mat-slide-toggle>
        <mat-icon matTooltip="Light theme">light_mode</mat-icon>
        <mat-divider vertical></mat-divider>
        <mat-icon *ngIf="isConnected()" matTooltip="Connected">check_circle</mat-icon>
        <mat-icon *ngIf="!isConnected()" matTooltip="Not connected">error</mat-icon>
        <span *ngIf="!isConnected()" class="mat-body-strong">Not connected</span>
      </div>
    </mat-toolbar>
    <div [ngSwitch]="getUrl()" fxFlex="auto">
      <div *ngSwitchCase="'/dashboard'">
        <app-dashboard></app-dashboard>
      </div>
      <div *ngSwitchCase="'/document/upload'">
        <app-document-upload></app-document-upload>
      </div>
      <div *ngSwitchCase="'/document/query'">
        <app-document-query></app-document-query>
      </div>
      <div *ngSwitchCase="'/document/upload-record'">
        <app-document-upload-record></app-document-upload-record>
      </div>
      <div *ngSwitchCase="'/asset/upload'">
        <app-asset-upload></app-asset-upload>
      </div>
      <div *ngSwitchCase="'/asset/query'">
        <app-asset-query></app-asset-query>
      </div>
      <div *ngSwitchCase="'/asset/upload-record'">
        <app-asset-upload-record></app-asset-upload-record>
      </div>
      <div *ngSwitchCase="'/auth/request'">
        <app-auth-request></app-auth-request>
      </div>
      <div *ngSwitchCase="'/auth/record'">
        <app-auth-record></app-auth-record>
      </div>
      <div *ngSwitchCase="'/auth/approve'">
        <app-auth-approve></app-auth-approve>
      </div>
      <div *ngSwitchDefault>
        <app-dashboard></app-dashboard>
      </div>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
