.container {
  margin: 20px;
}

.document-card {
  margin-bottom: 15px;
}

.document-card-content {
  margin: 20px;
}

.document-card-margin {
  margin-bottom: 15px;
}

.misc-margin {
  margin-bottom: 20px;
}

.mat-radio-group {
  display: flex;
  justify-content: space-around;
}

::ng-deep .help-tooltip {
  white-space: pre-line;
}

::ng-deep .instruction {
  white-space: pre-line;
}
