<div class="grid-container">
  <h1 class="mat-h1">Document</h1>
  <mat-grid-list cols="2" rowHeight="10px">

    <!-- Precise Query -->
    <mat-grid-tile [colspan]="2" [rowspan]="37">
      <mat-card class="document-card">
        <mat-card-header>
          <mat-card-title>
            Query
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="document-card-content">
          <form [formGroup]="documentPreciseQueryForm" novalidate (ngSubmit)="onPreciseQuerySubmit()">
            <div fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="0px">

              <!-- Query Method -->
              <div class="document-card-margin" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
                <mat-label fxFlex="20">Query Method *</mat-label>
                <mat-radio-group formControlName="queryMethod" fxFlex="auto">
                  <mat-radio-button value="precise">Precise</mat-radio-button>
                  <mat-radio-button value="fuzzy">Fuzzy</mat-radio-button>
                </mat-radio-group>
              </div>

              <!-- Resource Type -->
              <mat-form-field appearance="outline">
                <mat-label>Resource Type</mat-label>
                <mat-select required formControlName="resourceType">
                  <mat-option *ngFor="let resourceType of resourceTypes" [value]="resourceType">
                    {{resourceType}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="documentPreciseQueryForm.controls['resourceType'].hasError('required')">
                  Resource Type is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <!-- Resource ID -->
              <mat-form-field appearance="outline" fxFlex="auto">
                <mat-label>Resource ID</mat-label>
                <input matInput required formControlName="resourceID">
                <mat-error *ngIf="documentPreciseQueryForm.controls['resourceID'].hasError('required')">
                  Resource ID is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <div style="height: 8px;"></div>

              <!-- Reset & Query -->
              <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="8px">
                <div class="document-card-margin">
                  <button mat-button color="warn" type="button"
                    (click)="documentPreciseQueryForm.reset()">Reset</button>
                </div>
                <div class="document-card-margin">
                  <button mat-raised-button color="primary" type="submit">Query</button>
                </div>
              </div>

            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- Fuzzy Query -->
    <mat-grid-tile [colspan]="2" [rowspan]="30">
      <mat-card class="document-card">
        <mat-card-header>
          <mat-card-title>
            Query
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="document-card-content">
          <form [formGroup]="documentFuzzyQueryForm" novalidate (ngSubmit)="onFuzzyQuerySubmit()">
            <div fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="0px">

              <!-- Query Method -->
              <div class="document-card-margin" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
                <mat-label fxFlex="20">Query Method *</mat-label>
                <mat-radio-group formControlName="queryMethod" fxFlex="auto">
                  <mat-radio-button value="precise">Precise</mat-radio-button>
                  <mat-radio-button value="fuzzy">Fuzzy</mat-radio-button>
                </mat-radio-group>
              </div>

              <!-- Keyword -->
              <mat-form-field appearance="outline" fxFlex="auto">
                <mat-label>Keyword</mat-label>
                <input matInput required formControlName="keyword">
                <mat-error *ngIf="documentFuzzyQueryForm.controls['keyword'].hasError('required')">
                  Keyword is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <div style="height: 8px;"></div>

              <!-- Reset & Query -->
              <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="8px">
                <div class="document-card-margin">
                  <button mat-button color="warn" type="button" (click)="documentFuzzyQueryForm.reset()">Reset</button>
                </div>
                <div class="document-card-margin">
                  <button mat-raised-button color="primary" type="submit">Query</button>
                </div>
              </div>

            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- Query Result -->
    <mat-grid-tile [colspan]="2" [rowspan]="66">
      <mat-card class="document-card">
        <mat-card-header>
          <mat-card-title>
            Query Result
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="document-card-content">
          <div fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="0px">

            <!-- Document Query Result Table -->
            <app-document-query-result-table></app-document-query-result-table>

          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>
