<div class="container">
  <div fxLayout="column">
    <h1 class="mat-h1">Document</h1>

    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex fxLayoutGap.gt-sm="8px">
      <div fxFlex.gt-sm="67" fxFlex>
        <mat-card class="document-card">
          <mat-card-header>
            <mat-card-title>
              Upload
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="document-card-content">
            <form [formGroup]="documentUploadForm" novalidate (ngSubmit)="onSubmit()">
              <div fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="0px">

                <!-- Resource Type -->
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
                  <div class="misc-margin">
                    <mat-icon fxFlex="auto">lock</mat-icon>
                  </div>
                  <mat-form-field appearance="outline" fxFlex="auto">
                    <mat-label>Resource Type</mat-label>
                    <mat-select required formControlName="resourceType"
                      (selectionChange)="resourceTypeChange($event.value)">
                      <mat-option *ngFor="let resourceType of resourceTypes" [value]="resourceType">
                        {{resourceType}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="documentUploadForm.controls['resourceType'].hasError('required')">
                      Resource Type is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>

                <!-- Document Type -->
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
                  <div class="misc-margin">
                    <mat-icon fxFlex="auto">description</mat-icon>
                  </div>
                  <mat-form-field appearance="outline" fxFlex="auto">
                    <mat-label>Document Type</mat-label>
                    <mat-select required formControlName="documentType">
                      <mat-option *ngFor="let documentType of documentTypes" [value]="documentType">
                        {{documentType}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="documentUploadForm.controls['documentType'].hasError('required')">
                      Document Type is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                  <div class="misc-margin">
                    <mat-checkbox fxFlex="auto" formControlName="isDocumentTypePublic">IsPublic</mat-checkbox>
                  </div>
                </div>

                <!-- Name -->
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
                  <div class="misc-margin">
                    <mat-icon fxFlex="auto">title</mat-icon>
                  </div>
                  <mat-form-field appearance="outline" fxFlex="auto">
                    <mat-label>Name</mat-label>
                    <input matInput required formControlName="name">
                    <mat-error *ngIf="documentUploadForm.controls['name'].hasError('required')">
                      Name is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                  <div class="misc-margin">
                    <mat-checkbox fxFlex="auto" formControlName="isNamePublic">IsPublic</mat-checkbox>
                  </div>
                </div>

                <!-- Entity Asset ID -->
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
                  <div class="misc-margin">
                    <mat-icon fxFlex="auto">pin</mat-icon>
                  </div>
                  <mat-form-field appearance="outline" fxFlex="auto">
                    <mat-label>Entity Asset ID</mat-label>
                    <input matInput placeholder="Optional" formControlName="entityAssetId">
                  </mat-form-field>
                  <div class="misc-margin">
                    <mat-checkbox fxFlex="auto" formControlName="isEntityAssetIdPublic">IsPublic</mat-checkbox>
                  </div>
                </div>

                <!-- Preceding Document ID -->
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
                  <div class="misc-margin">
                    <mat-icon fxFlex="auto">pin</mat-icon>
                  </div>
                  <mat-form-field appearance="outline" fxFlex="auto">
                    <mat-label>Preceding Document ID</mat-label>
                    <input matInput placeholder="Optional" formControlName="precedingDocumentId">
                  </mat-form-field>
                  <div class="misc-margin">
                    <button mat-stroked-button type="button" fxFlex="auto"
                      (click)="checkPrecedingDocumentId()">Check</button>
                  </div>
                  <div class="misc-margin">
                    <mat-checkbox fxFlex="auto" formControlName="isPrecedingDocumentIdPublic">IsPublic</mat-checkbox>
                  </div>
                </div>

                <!-- Head Document ID -->
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
                  <div class="misc-margin">
                    <mat-icon fxFlex="auto">pin</mat-icon>
                  </div>
                  <mat-form-field appearance="outline" fxFlex="auto">
                    <mat-label>Head Document ID</mat-label>
                    <input matInput placeholder="Optional" formControlName="headDocumentId">
                  </mat-form-field>
                  <div class="misc-margin">
                    <button mat-stroked-button type="button" fxFlex="auto"
                      (click)="checkHeadDocumentId()">Check</button>
                  </div>
                  <div class="misc-margin">
                    <mat-checkbox fxFlex="auto" formControlName="isHeadDocumentIdPublic">IsPublic</mat-checkbox>
                  </div>
                </div>

                <!-- Contents -->
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
                  <div class="misc-margin">
                    <mat-icon fxFlex="auto">cloud_upload</mat-icon>
                  </div>
                  <mat-form-field appearance="outline" fxFlex="auto">
                    <mat-label>Contents</mat-label>
                    <input matInput required placeholder="Filename" [value]="filename" formControlName="contents">
                    <mat-error *ngIf="documentUploadForm.controls['contents'].hasError('required')">
                      Contents is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                  <div class="misc-margin">
                    <input #fileInput hidden="true" type="file" onclick="this.value=null"
                      (change)="fileInputChange($event)">
                    <button mat-stroked-button color="primary" type="button" fxFlex="auto"
                      (click)="fileInput.click()">Browse</button>
                  </div>
                </div>

                <!-- Policy -->
                <div *ngIf="documentUploadForm.get('resourceType')?.value !== this.resourceTypes[0]" fxLayout="row"
                  fxLayoutAlign="space-between center" fxLayoutGap="8px">
                  <div class="misc-margin">
                    <mat-icon fxFlex="auto">policy</mat-icon>
                  </div>
                  <mat-form-field appearance="outline" fxFlex="auto">
                    <mat-label>Policy</mat-label>
                    <input matInput required formControlName="policy">
                    <mat-error *ngIf="documentUploadForm.controls['policy'].hasError('required')">
                      Policy is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                  <div class="misc-margin">
                    <mat-icon matTooltip='Available keywords:&#13;
                      DeptType, DeptLevel, DeptName, SuperDeptName&#13;
                      Example:&#13;
                      (DeptType == "Dev" && DeptLevel == 2)' matTooltipClass="help-tooltip" fxFlex="auto">help
                    </mat-icon>
                  </div>
                </div>

                <div style="height: 10px;"></div>

                <!-- Reset & Upload -->
                <div class="document-card-margin" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="8px">
                  <button mat-button color="warn" type="button"
                    (click)="documentUploadResetButtonClick()">Reset</button>
                  <button mat-raised-button color="primary" type="submit">Upload</button>
                </div>

              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex.gt-sm="33" fxFlex>
        <mat-card class="document-card">
          <mat-card-header>
            <mat-card-title>
              Instruction
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="document-card-content">

            <mat-label class="instruction">{{instruction}}</mat-label>

          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
